/* - - - - - - - - - - - - - - -　
　　　　TOPページ
- - - - - - - - - - - - - - - */

.Page {}

/* - - - header - - -  */

.Header {}

.Header__inner {
  background-color: rgb(161, 161, 161);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  width: 100%;
}


.Header__logo {
  font-size: 50px;
  margin: 0 0 0 40px;
}

.Header__logoLink {}

.Header__nav {
  display: flex;
  margin: 0 40px 0 0;
}

.Header__navList {
  display: flex;
  align-items: center;
  margin: 0 45px 0 0;
}

.Header__navItem {}

.Header__navLink {}

/* - - - MV - - - */

.Mv {}

.Mv__image {
  margin-bottom: 220px;
}

/* - - - content - - - */

.Content {}

.Content__inner {}

.Content {}

.Title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 90px;
}

.Text {
  display: flex;
  text-align: center;
  margin: 0 10px 90px;
  font-size: 20px;
  line-height: 1.7;
}

.br_pc {
  display: block;
}

.br_phone {
  display: none;
}

/* - - - botton - - - */

.Botton {
  margin-bottom: 100px;
}

.BottonLink {
  display: block;
  width: 400px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
}

/* - - - footer - - - */

.Footer {}

.Footer__inner {}

.Footer__logo {}

.Footer__copy {
  text-align: center;
}

.Footer__copyText {}

/* --- スマホサイズ --- */
@media(max-width:429px) {
  .Header__inner {
    background-color: rgb(161, 161, 161);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100vw;
  }

  .Header__logo {
    font-size: 30px;
    margin: 0 0 0 40px;
  }

  .Header__nav {
    display: flex;
    margin: 0 5px 0 0;
  }

  .Mv__image {
    width: 100vw;
    margin: 80px 0;
  }

  .Title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }

  .Text {
    text-align: center;
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 1.7;
  }

  .br_pc {
    display: none;
  }

  .br_phone {
    display: block;
  }

  .BottonLink {
    background-color: dimgray;
    color: #fff;
    display: block;
    width: 30vw;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
  }
}
