/* - - - - - - - - - - - - - - -　
　　　　TOPページ
- - - - - - - - - - - - - - - */

.Page {}

/* - - - header - - -  */

.Header {}

.Header__inner {
  background-color: rgb(161, 161, 161);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  width: 100%;
}


.Header__logo {
  font-size: 50px;
  margin: 0 0 0 40px;
}

.Header__logoLink {
  color: #fff;
  text-decoration: none;
}

#menu-btn-check {
  display: none;
}

.Header__nav {
  display: flex;
  margin: 0 40px 0 0;
}

.Header__navList {
  display: flex;
  align-items: center;
  margin: 0 45px 0 0;
}

.Header__navItem {}

.Header__navLink {}

/* - - - MV - - - */

.Mv {}

.Mv__image {
  width: 100vw;
  margin: 80px 0;
}

/* - - - content - - - */

.Content {}

.Content__inner {}

.Content {}

.Title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 90px;
}

.Text {
  text-align: center;
  margin-bottom: 90px;
  font-size: 20px;
  line-height: 1.7;
}

/* - - - botton - - - */

.Botton {
  margin-bottom: 100px;
}

.BottonLink {
  display: block;
  width: 400px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
}

/* - - - footer - - - */

.Footer {}

.Footer__inner {}

.Footer__logo {}

.Footer__copy {
  text-align: center;
  background-color: rgb(161, 161, 161);
  height: 20px;
}

.Footer__copyText {}

/* --- スマホサイズ --- */
@media(max-width:459px) {
  .Header__inner {
    background-color: rgb(161, 161, 161);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100vw;
  }

  .Header__logo {
    font-size: 30px;
    margin: 0 0 0 40px;
  }

  /* .Header__nav {
    display: flex;
    margin: 0 5px 0 0;
  } */

  /* =================ハンバーガーボタンの実装================= */

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: black;
  }

  .menu-btn:hover {
    cursor: pointer;
  }

  /* 三本線の実装 */
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }

  .menu-btn span:before {
    bottom: 8px;
  }

  .menu-btn span:after {
    top: 8px;
  }

  #menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255,
        255,
        255,
        0);
    /*メニューオープン時は真ん中の線を透明にする*/
  }

  /* メニューを開いている時はハンバーガーボタンが×になる */
  #menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* =================
メニュー部分の実装
================= */

  .Header__nav {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    /* メニューを外に出しておく */
    left: 100%;
    z-index: 80;
    background-color: black;
    transition: all 0.5s;
    /*アニメーションを滑らかにする*/
  }

  .Header__navList {
    padding: 70px 10px 0;
  }

  .Header__navItem {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }

  .Header__navLink {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }

  #menu-btn-check:checked~.Header__nav {
    left: 30%;
    z-index: 90;
    /*メニューを画面内へ動かす*/
  }

  /* ------------------------------------------- */

  .Mv__image {
    width: 100%;
    margin: 80px 0;
  }

  .Title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }

  .Text {
    text-align: center;
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 1.7;
  }

  br {
    display: none;
  }

  span {
    display: block;
  }

  .BottonLink {
    background-color: dimgray;
    color: #fff;
    display: block;
    width: 30vw;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
  }
}
